.alert{
    @include absolute-center;
    top: 95%;
    color: $secondary-color;
    padding: .5em 1em;
    border-radius: 5px;
    opacity: 1;

    &-success{
        background-color: $success-color;
    }

    &-alert{
        background-color: $alert-color;
    }

    animation: cssAnimation .3s ease-in 2s forwards;
    animation-fill-mode: forwards;

    @keyframes cssAnimation {
        to {
            opacity: 0;
        }
    }
}